
.containerrow{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 90%;
    margin-left:auto;
    margin-right:auto;
}

.story{
    order: 1;
    width: 200px;
}

.map{
    order: 2;
    width: 400px;
}

.demographics{
    order: 3;
    width: 200px;
}

.timeseries{
    order: 4;
    width: 200px;
}

.regionfilter{
    height: 15px;
    display: block;
    padding-bottom: 10px;
    padding-top: 10px;
}


/*
 * Styling the demographic displays
 */

svg.demographic_svg{
    padding: 0px;
}

div.demographic_measurename{
    font-weight: bold;
    padding-top: 25px;
    font-size:10px;
}

div.demographic_measurement{
    font-size:10px;
    font-variant: italic;
}

div.selectedDemographic{
    background-color: #f9e039;
}

div.unselectedDemographic{
}

div.demographictable{
    display: block;
    width: 200px;
    height: 350px;
    font-size: 8px;
}

div.highlightedplot{
    background-color: #f9e039;
}

@media only screen and (max-width: 750px) and (min-width: 601px){
    .containerrow{
        padding-left: 5%;
        width: 95%;
    }
}

@media only screen and (max-width: 500px) {
    .containerrow{
        flex-direction: column;
        padding-left: 0;
        width: 100%
    }
}
